<form
    [formGroup]="dynamicForm"
    (ngSubmit)="onSubmit()"
>
    <mat-form-field>
        <mat-select
            placeholder="{{ 'SHEETS.SELECT' | translate }}"
            #fieldTypeOption
        >
            <mat-option
                *ngFor="let type of (formFieldTypes | enumToArray)"
                [value]="type"
            >
                {{type}}
            </mat-option>
        </mat-select>
    </mat-form-field>
    <mat-form-field>
        <input
            matInput
            placeholder="Label"
            #fieldLabel
        >
    </mat-form-field>

    <button
        (click)="addComponent(fieldTypeOption.value, fieldLabel.value)"
        mat-raised-button
        class="add-button"
    >
        Add
    </button>

    <div class="dynamic-field-container">
        <ng-container appDynamicField ></ng-container>
    </div>
    <button
        type="submit"
        [disabled]="!dynamicForm.valid"
        mat-raised-button
        color="primary"
    >
        Submit
    </button>
</form>
