<form [formGroup]="form">
  <mat-label>{{data.label}}</mat-label>
  <mat-checkbox [formControlName]="data.name">Checked</mat-checkbox>
</form>
<app-delete-field [fieldNr]="data.fieldNr"></app-delete-field>
