<mat-form-field [formGroup]="form">
    <input
        matInput
        [placeholder]="data.label"
        [formControlName]="data.name"
    >
</mat-form-field>
<app-delete-field [fieldNr]="data.fieldNr"></app-delete-field>
numer to {{data.fieldNr}}
