<div class="row flex-xl-nowrap">
  <div class="col-12 col-md-3 col-xl-2 bd-sidebar">

    <ul class="nav flex-column">
      <li class="nav-item">
        <button (click)="fileInput.click()" mat-flat-button>
          {{ "SHEETS.SELECT-SHEET-FILE" | translate}}
          <input #fileInput type="file"
          (change)="readFile($event)"
          class="not-displayed"
          accept="{{sheetFormats.XLSX}}, {{sheetFormats.XLS}}, {{sheetFormats.ODS}}, {{sheetFormats.XLSB}}, {{sheetFormats.XML}}, {{sheetFormats. XLSM}}" />
        </button>
      </li>
      <li class="nav-item">
        <button mat-flat-button>
          {{ "SHEETS.GENERATE-FORM-TEMPLATE" | translate}}
        </button>
      </li>
      <li class="nav-item">
        <button mat-flat-button disabled>
          {{ "SHEETS.SAVE-FORM-TEMPLATE" | translate}}
        </button>
      </li>
      <li class="nav-item">
        <button (click)="saveSheet()" mat-flat-button disabled>
          {{ "SHEETS.EXPORT-TO-SHEET" | translate}}
        </button>
      </li>
    </ul>

  </div>

  <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content">
    <form *ngIf="formFromSheet" (ngSubmit)="formFromSheetSubmit()" [formGroup]="formFromSheet">
      <ng-container *ngFor="let row of rowsFromSheet; let i = index">
        <mat-form-field>
            <mat-label>{{row.question}}</mat-label>
          <ng-container *ngIf="row.type === questionarreTypeEnum.TEXTAREA">
            <textarea matInput cdkAutosizeMinRows="2" [formControlName]="i" required></textarea>
          </ng-container>
          <ng-container *ngIf="row.type === questionarreTypeEnum.SELECT">
            <mat-select placeholder="{{ 'SHEETS.SELECT' | translate }}" [formControlName]="i" required>
              <mat-option *ngFor="let answer of row.answers" [value]="answer">{{answer}}</mat-option>
            </mat-select>
          </ng-container>
        </mat-form-field>
      </ng-container>
      <button mat-flat-button color="primary" type="submit" [disabled]="!formFromSheet.valid">Submit</button>
    </form>

<app-dynamic-form>

</app-dynamic-form>


  </main>
</div>
