$menu-button-width: 140px;
$margin-menu-items: 2px 0;
$btn-opacity: 0.9;
$btn-primary: #424242;

.nav {
  li {
    margin: $margin-menu-items;
  }
  button {
    width: $menu-button-width;
    &:hover {
      opacity: $btn-opacity;
    }
    &:disabled {
      cursor: not-allowed;
      color: $btn-primary;
    }
  }
}
mat-form-field{
  display: block;
}
